In [1]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/7e/c1/c1c4707013f9e2f8a96899dd3a87f66c9167d6d776a6dc8fe7ec8678d446/catboost-0.24.3-cp36-none-manylinux1_x86_64.whl (66.3MB)
     |████████████████████████████████| 66.3MB 56kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.3

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv('data/res_df.csv')

In [5]:
df.head()

   Porosity  Resistivity  Water_Saturation
0   0.12529         6.52               1.0
1   0.14511         6.52               1.0
2   0.14511         6.52               1.0
3   0.13481         8.00               1.0
4   0.13481         8.00               1.0

In [7]:
import random
random.seed(12) #12,close
a = random.uniform(0.8, 1.1)
m = random.uniform(1.6, 2.5)
n = random.uniform(1.6, 2.0)
rw = random.uniform(0.08, 0.12)

df['Archie_model_rand'] = ((a/(df['Porosity']**m))*(rw/df['Resistivity']))**(1/n) #randomization
df['Archie_model_sand'] = ((0.81/(df['Porosity']**1.7))*(0.1/df['Resistivity']))**(1/2.0) #sand
df['Archie_model_rocks'] = ((0.81/(df['Porosity']**1.7))*(0.1/df['Resistivity']))**(1/1.8) #rocks

df['Archie_model_rand'] = df['Archie_model_rand'].clip(0,1.0)
df['Archie_model_sand'] = df['Archie_model_sand'].clip(0,1.0)
df['Archie_model_rocks'] = df['Archie_model_rocks'].clip(0,1.0)

In [8]:
df.head()

   Porosity  Resistivity  ...  Archie_model_sand  Archie_model_rocks
0   0.12529         6.52  ...           0.651463            0.621171
1   0.14511         6.52  ...           0.575011            0.540721
2   0.14511         6.52  ...           0.575011            0.540721
3   0.13481         8.00  ...           0.552629            0.517387
4   0.13481         8.00  ...           0.552629            0.517387

[5 rows x 6 columns]

In [9]:
X = df.drop(['Water_Saturation'],axis=1)
Y = df['Water_Saturation']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2,random_state=77)

CatBoost Model.

In [11]:
cr = CatBoostRegressor(iterations=3000, learning_rate=0.13, depth=12, random_seed=77, loss_function='RMSE', eval_metric='RMSE',verbose=0)

In [12]:
np.mean(cross_val_score(cr, X_test, y_test, cv=3, scoring='r2',verbose=0))
cr.fit(X_train,y_train)

In [ ]:
#cr.fit(X_train,y_train)

In [13]:
pred_cat = cr.predict(X_test)
mean_squared_error(y_test, pred_cat)

0.05406725180681803