In [2]:
import pandas as pd

In [5]:
data_por = pd.read_csv('data/por.txt',header=None)
data_res = pd.read_csv('data/res.txt',header=None)
data_swat = pd.read_csv('data/swat.txt',header=None)

In [20]:
data_por.head(2)

         0
0  0.12529
1  0.14511

In [7]:
data_res.head(2)

      0
0  6.52
1  6.52

In [8]:
data_swat.head(2)

     0
0  1.0
1  1.0

In [9]:
res_df = pd.concat([data_por,data_res,data_swat],axis=1,sort=False)
res_df.head(2)

         0     0    0
0  0.12529  6.52  1.0
1  0.14511  6.52  1.0

In [10]:
res_df = pd.DataFrame(res_df)

In [11]:
res_df.shape

(180000, 3)

In [12]:
res_df.columns = ['Porosity','Resistivity','Water_Saturation']

In [13]:
res_df.head()

   Porosity  Resistivity  Water_Saturation
0   0.12529         6.52               1.0
1   0.14511         6.52               1.0
2   0.14511         6.52               1.0
3   0.13481         8.00               1.0
4   0.13481         8.00               1.0

In [17]:
res_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Porosity          180000 non-null  float64
 1   Resistivity       180000 non-null  float64
 2   Water_Saturation  180000 non-null  float64
dtypes: float64(3)
memory usage: 4.1 MB

In [18]:
res_df.to_csv (r'data/res_df.csv', index = False, header=True)